 <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:image" content="https://cdn.glitch.me/353f4572-362e-4e70-bf65-c0c0c4ccff01%2F246e287a-ddf1-48d8-b618-104515e4baf8.image.png?v=1637515749090" />
    <meta property="og:site_name" content="Wisia"/>
    <meta property="og:url" content="https://wisia.glitch.me/partners"/>
    <meta name="theme-color" content="#DBEFEE" />
    <meta name="description" content="Wisia is a basic search engine with google"/>
    <title>Wisia | About</title>
     <link rel="stylesheet" href="index.css">
<!--     <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet"> -->
    <script
      src="https://kit.fontawesome.com/b198190252.js"
      crossorigin="anonymous"></script>
    <link
      rel="stylesheet"

      href="https://pro.fontawesome.com/releases/v6.0.0-beta2/css/all.css"
    >
  </head>
  <body>
    <script src="index.js"></script>
    
<!--     <button class="collapsible">Open Collapsible</button>
<div class="content">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div> -->
    
    <div class="codes">
    <div class="collapsible-title" style="font-size: 21px; text-align: center;">Wisia</div>
      
<button class="collapsible">CONTENT 1</button>
<div class="content">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>
      
      <button class="collapsible">CONTENT 2</button>
<div class="content">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>
      
      <button class="collapsible">CONTENT 3</button>
<div class="content">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>
      
      <button class="collapsible">CONTENT 4</button>
<div class="content">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>
      
<div class="collapsible-footer" style="font-size: 10px; text-align: center;">Wisia © 2021</div>
    </div>
    
     <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="footer-basic">
      <footer>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="/">Home</a></li>
          <li class="list-inline-item"><a href="/about">About</a></li>
          <li class="list-inline-item"><a href="/partners">Partners</a></li>
          <li class="list-inline-item"><a href="/privacy-policy">Privacy Policy</a></li>
          <li class="list-inline-item"><a href="/support">Support</a></li>
          <li class="list-inline-item"><a href="/wisia-source" target="_blank">Github</a></li>
        </ul>
        <p class="copyright">Wisia © 2021</p>
      </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
    
    <script>
    var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.maxHeight){
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
    } 
  });
}
    </script>
    
  </body>
</html>
