@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

* {
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}

body {
  background-image: url("https://cdn.glitch.me/1d36c9c8-96d4-4dd9-9ffd-77ba4b69b8f8%2F1613546197_23-p-fon-dlya-prezentatsii-belogo-tsveta-25.jpg?v=1633627769839");
}

.header {
  width: 1000px;
  padding: 20px;
  background: #7690da;
  margin: 25px auto;
  /* 	border-radius: 5px; */
  text-align: center;
}

.header p {
  font-size: 45px;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
}

.container .input {
  border: 0;
  outline: none;
  color: #8b7d77;
}

.search_wrap {
  width: 450px;
  margin: 38px auto;
}

.search_wrap .search_box {
  position: static;
  width: 250px;
  height: 60px;
}

.search_wrap .search_box .input {
  position: static;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  border-radius: 3px;
  font-size: 18px;
}

.search_wrap.search_wrap .search_box .input {
  border-radius: 50px;
}

.search_wrap.search_wrap .search_box .input {
  /*   padding-right: 145px; */
  position: static;
  border: none;
  height: 50px;
  width: 490px;
  outline: none;
  margin-bottom: 20%;
  border-radius: 25px;
  color: rgb(110, 110, 110);
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  font-weight: 200;
  text-align: left;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: box-shadow 0.3s ease-in-out;
  transition: 1s;
}

.search_wrap.search_wrap .search_box .input:hover {
  transition: 1s;
  box-shadow: 0 3px 13px rgba(0,0,0,0.3);
  transform: scale(1.02, 1.02);
}

.search_wrap.search_wrap .search_box .input:focus {
  transition: 1s;
  box-shadow: 0 3px 13px rgba(0,0,0,0.3);
  transform: scale(1.02, 1.02);
}

.footer-basic {
  padding: 40px 0;
  color: #4b4c4d;
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover {
  opacity: 1;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer-basic .social > a {
  font-size: 24px;
  width: 50px;
  height: 50px;
  line-height: 48px;
  display: inline-block;
  text-align: center;
  border-radius: 40%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer-basic .social > a:hover {
  opacity: 0.9;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
  font-family: "Pacifico", cursive;
}

.name {
  font-family: "Pacifico", cursive;
  padding: 0;
  font-size: 64px;
  color: black;
  line-height: 1.8;
  marign-bottom: 0;
}

/* FOR MOBILE */

@media only screen and (max-width: 600px) {
  .container .input {
    border: 0;
    outline: none;
    color: #8b7d77;
  }

  .search_wrap {
    width: 350px;
    margin: 48px auto;
  }

  .search_wrap .search_box {
    position: static;
    width: 350px;
    height: 60px;
  }

  .search_wrap .search_box .input {
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    border-radius: 3px;
    font-size: 18px;
  }

  .search_wrap.search_wrap .search_box .input {
    border-radius: 50px;
  }

  .search_wrap.search_wrap .search_box .input {
    /*     padding-right: 145px; */
    position: static;
    border: none;
    height: 50px;
    width: 350px;
    outline: none;
    margin-bottom: 20%;
    border-radius: 35px;
    color: rgb(110, 110, 110);
    font-size: 1rem;
    font-family: "Lato", sans-serif;
    font-weight: 200;
    text-align: left;
    transition: 0.8s;
  }

.search_wrap.search_wrap .search_box .input:hover {
  transition: 1s;
  box-shadow: 0 3px 13px rgba(0,0,0,0.3);
  transform: scale(1.02, 1.02);
}
  
.search_wrap.search_wrap .search_box .input:focus {
  transition: 1s;
  box-shadow: 0 3px 13px rgba(0,0,0,0.3);
  transform: scale(1.02, 1.02);
}
}

/* scrollbar */

::-webkit-scrollbar {
  width: 8px;
  height: 15px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px grey;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: grey;
}

/* selection */

::selection {
  background-color: grey;
  color: #ffffff;
}

/* partners */

#partners {
  margin-top: 100px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}
#partners h3 {
  padding-top: 70px;
}
#partners p {
  font-family: var(--main-font-family);
  font-size: 1.2rem;
  /* 	padding: 20px; */
}

.work {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  margin: 20px;
  width: 550px;
  height: 250px;
  border-radius: 12px;
  background: white;
  box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.2);
}

.card img {
  width: 100%;
  height: 70%;
  border-radius: 10px 10px 0px 0px;
}

.card .work-content {
  text-align: center;
  padding: 0px 5px;
  font-size: 1.2rem;
  color: black;
  font-family: var(--main-font-family);
  cursor: pointer;
}

.card a {
  text-decoration: none;
}

.card .work-content:hover {
  color: #202020;
}

.card:hover {
  transition: 0.4s;
  box-shadow: 0 0 1.5rem grey;
}
.imgsz {
  font-size: 20px;
}

/* about */

.collapsible {
  margin: -10% 18%;
  background-color: #777;
  color: white;
  opacity: 70%;
  cursor: pointer;
  padding: 18px;
  width: 64%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
/*   border-radius: 10px; */
}

.active,
.collapsible:hover {
  background-color: #555;
}

.collapsible:after {
  content: "\002B";
  color: white;
  opacity: 70%;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  opacity: 70%;
  content: "\2212";
}

.content {
 margin: 10% 18%;
  padding: 0 18px;
  width: 64%;
  max-height: 0;
  border-radius: 0px 0px 0px 0px;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: grey;
  opacity: 70%;
}

.codes {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  flex-direction: column;
}

/* other */

.collapsible-title {
  font-family: "Pacifico", cursive;
  margin: 10% 18%;
  background-color: #777;
  color: white;
  opacity: 70%;
  padding: 18px;
  width: 64%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  border-radius: 10px 10px 0px 0px;
}

.collapsible-title:hover {
  background-color: #555;
}

.collapsible-footer {
  margin: -10% 18%;
  background-color: #777;
  color: white;
  opacity: 70%;
  padding: 18px;
  width: 64%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  border-radius: 0px 0px 10px 10px;
}

.collapsible-footer:hover {
  background-color: #555;
}
